.detail-box-main{
    max-width: 25rem;
    color: white;
    margin-left: 3rem;
}
.detail-box{
    max-width: 15rem;
}

h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h5{
    margin-bottom: 5px;
    font-size: 1rem;
    color: rgb(21, 21, 21); 
}

.detail-box-info{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.btn-box{
    display: inline-block;
    background-color: orange;
    padding: 0.3rem 1rem;
    border-radius: 20px;
}

.btn-box a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.hero-section{
    display: flex;
    align-items: center;
    height: 700px;
    background-image: url(https://themewagon.github.io/feane/images/hero-bg.jpg);
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .hero-section {
        height: auto;
        background-size: cover;  /* Reduce image size on smaller screens */
        background-position: center;
    }
}



.offer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-section-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;
    margin: 45px;
    background-color: rgb(44, 44, 44);
    padding: 1.5rem;
    margin: 45px;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 4px;
    gap: 2rem;
}

.offer-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid orange;
}

.menu-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.532);
}
.menu-img-bg{
    border-radius: 4px;
    gap: 2rem;
}

.menu-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.532);
}
.menu-img-bg{
    display: flex;
    justify-content: center;align-items: center;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(44, 44, 44);
    box-shadow: inset 1px 5px 10px rgba(0, 0, 0, 0.419);
}

.menu-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-items-select{
    border: 3px solid black;
}
.menu{
    display: flex;
    list-style: none;
    gap: 50px;
}

.food{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    width: 250px;
    border-radius: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.food-detail{
    margin: 10px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

/*.menu-filter{
    padding: 1rem;
    margin: 20px;
    display: grid;
    justify-content: space-evenly;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    'item1 item2 item3'
    'item4 item5 item6'
    'item7 item8 item9'
    ;
}
@media screen (max-width: 425px) {
    .menu-filter{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(5, 400px);
        grid-template-areas:
        'item1 item2'
        'item3 item4'
        'item5 item6'
        'item7 item8'
        'item 9 item9'
        ;
    }
}*/

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}
.item9{
    grid-area: item9;
}

.about-section img{
    width: 400px;
    height: 600px;
}
@media screen and (max-width:425px) {
    .about-section img{
        display: none !important;
    }
}

.about-section{
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container{
    color: white;
    margin: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}
.about-info{
    max-width: 500px;
}
.about-header{
    margin-bottom: 1rem;
}
.about-text{
    font-size: small;
    margin-bottom: 1.5rem;
    color: whitesmoke;
}
.about-btn{
    background-color: orange;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5rem 2.5rem;
    border-radius: 20px;
    margin-bottom: 5px;
    border: none;
}

.end-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
}
.end-container{
    padding: 2rem;
    max-width: fit-content;
    border: 1px solid rgba(214, 214, 214, 0.737);
    border-radius: 10px;
}
input{
    border-radius: 3px;
    border: 1px solid rgba(121, 121, 121, 0.319);
}
.submit{
    background-color: orange;
    font-weight: bold;
    color: white;
    padding: 0.5rem 2.5rem;
    border-radius: 20px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}

.foot-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0px;
    background-color: rgb(44, 44, 44);
    color: white;
}
.foot-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dashed red;
}
.foot-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px dotted yellow;
}
.foot-branch{
    border: 2px solid purple;
    text-align: center;
    max-width: 350px;
    margin-bottom: 15px;
}
.foot-copyright{
    margin: 2rem;
    border: 2px solid green;
}

